h1 {
    color:red;
}

a{
    font-size: 12px;
    color:blue;
}
button{
    height:25px;
    width:140px;
}

.sub-btn{
    height:25px;

}
.file-btn{
    line-height:45px;
}

.content-l{
    float: left;
    width: 12%;
    height: 100%;
}

.text-l{
    float: left;
    width:40%;
}
.text-r{
    float: right;
    width:40%;
}

pre{
    width: 350px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow: auto;
}